<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tw.dao.SysCourseMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.tw.entity.SysCourse">
        <id column="id" property="id" />
        <result column="course" property="course" />
        <result column="banji" property="banji" />
        <result column="teacher" property="teacher" />
        <result column="userids" property="userids" />
        <result column="sktimes" property="sktimes" />
        <result column="skdate" property="skdate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, course, banji, teacher, userids, sktimes, skdate
    </sql>

</mapper>
